body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('image/exercise pic4.jpeg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
}

header {
    background-color: #0c13d3;
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

nav{
    text-align: right;
}
nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    transition: 5s;
}

main {
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #3c00ff;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: beige;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 17%;
    border-radius: 40px;
    
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
